<h2> Showing Employee Details </h2>

<p><strong> First Name: </strong> <%= @employee.fName %>  </p>
<p><strong> Last Name:  </strong> <%= @employee.lName %> </p>
<p><strong> DOB:  </strong> <%= @employee.dob %></p>
<p><strong> Gender:  </strong> <%= @employee.gender %></p>
<p><strong> Email:  </strong> <%= @employee.email %></p>
<p><strong>  Mobile No: </strong> <%= @employee.mobile %> </p>
<p><strong> Address:  </strong> <%= @employee.address %></p>
<p><strong> Country:  </strong> <%= @employee.country %> </p>
<p><strong> Salary:  </strong> <%= @employee.salary %></p>
<p><strong> Social Account:  </strong> <%= @employee.socialAccount %></p>



<div>
  <button style="display: inline-block"> <%= link_to 'Edit', edit_employee_path(@employee.id) %> </button>
  <%= button_to 'Delete', employee_path(@employee.id), method: :delete, data: { confirm: "Are you sure?"}  %>
  <button> <%= link_to 'Back', employees_path(@employee) %> </button>
</div>